@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid yellow;
    border-right: 50px solid blue;
    border-bottom: 100px solid red;
  }
}

/* ct: custom*/
.ct-top-menu-item {
  @apply py-1 
  hover:text-gray-800 
  relative 
  after:lg:absolute 
  after:lg:bottom-0 
  after:lg:left-0 
  after:lg:bg-coffee-200 
  after:h-0.5 
  hover:after:w-full 
  after:lg:w-0 
  after:lg:transition-all 
  after:lg:duration-300 
  after:lg:ease-in-out;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
  @apply inline-block 
  text-xs
  text-center
  rounded-full
  px-1.5;
}

.ct-top-menu-expanded {
  @apply absolute 
  top-10
  z-50 
  w-full 
  text-center 
  bg-red-200
  animate-slideDown;
}

.ct-top-menu-active {
  @apply text-gray-800;
}

.ct-button {
  @apply text-center 
  uppercase tracking-wider 
  py-4 px-8 text-sm 
  font-semibold cursor-pointer 
  hover:bg-opacity-90;
}

.sub-headline {
  @apply flex justify-center items-center mb-24;
}

.sub-headline-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.sub-headline-label {
  @apply uppercase mx-4 
  tracking-widest 
  text-center
  text-gray-500 font-medium text-xs;
}

.product-card-image {
  @apply h-[400px] lg:h-[540px]
  bg-cover bg-no-repeat  bg-center;
}

.product-card-title {
  @apply text-center mt-8;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
